<div class="about-container">
  <h1>About <span>Me</span></h1>
  <div class="container">
    <div class="container__img">
      <img
        src="./assets/img/img-about.jpeg"
        alt="Profile Picture"
      />
    </div>
    <div class="container__text">
      <p>
        Computer Systems Engineer, with a passion for technology and application
        development. I'm a hardworking, communicative, committed, and self-taught
        individual. I'm in search of a job opportunity that allows me to put into
        practice the knowledge I have acquired throughout my professional career
        and my self-taught learning.
      </p>
    </div>
  </div>
</div>
