* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  background: #27282C;

}
@import "../../../styles/_variables.scss";

app-navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.container{
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 5vw 10vw;
  color: white;


  .home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #6C63FF;
    border-radius: 50%;
    font-size: 20px;
    color: #6C63FF;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: 1s .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    i {
      transition: color 0.5s ease; // Añadir transición para el color
  }
}
.home-sci a:hover{
    background: #6C63FF;
    color: #ffffff;
    box-shadow: 0 0 20px #8e8cb3;

    i {
      color: #ffffff; // Cambia el color del ícono al hacer hover
  }
}
i{
  font-size: 30px;
  color: #6C63FF;
  border-radius: 50%;
  background: none;
}
i:hover{
  color: #ffffff;
}
.btn-box{
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef,
  0 0 25px #0ef;
}

.btn-box:hover{
  box-shadow: 0 0 5px cyan,
  0 0 25px cyan, 0 0 50px cyan,
  0 0 100px cyan, 0 0 200px cyan;
}
img{
  min-width: 100%;
  height: auto;
  width: 20vw;
  border-radius: 50%;

}


}


@keyframes slideTop{
  0%{
      transform: translateY(100px);
      opacity: 0;
  }
  100%{
      transform: translateY(0px);
      opacity: 1;
  }
}
@keyframes slideRight{
  0%{
      transform: translateX(-100px);
      opacity: 0;
  }
  100%{
      transform: translateX(0px);
      opacity: 1;
  }
}
@keyframes slideLeft{
  0%{
      transform: translateX(100px);
      opacity: 0;
  }
  100%{
      transform: translateX(0px);
      opacity: 1;
  }
}

@keyframes slideBottom {
  0%{
      transform: translateY(-100px);
      opacity: 0;
  }
  100%{
      transform: translateY(0px);
      opacity: 1;
  }
}

