<div class="content">
  <app-navbar></app-navbar>
  <div class="container" id="home">
    <div class="container__text">
      <h3>Hello, Its Me</h3>
      <h1>Candelaria Cabrera</h1>
      <h3>And Im a <span class="text"> </span></h3>
      <p>Im a <br />Systems Engineer</p>
      <div class="home-sci">
        <a href="#" style="--i: 1" class="active"
          ><i class="bx bxl-facebook"></i
        ></a>
        <a href="#" style="--i: 2" class="active"
          ><i class="bx bxl-instagram"></i
        ></a>
        <a href="#" style="--i: 3" class="active"
          ><i class="bx bxl-whatsapp"></i
        ></a>
        <a href="#" style="--i: 4" class="active"
          ><i class="bx bxl-tiktok"></i
        ></a>
      </div>
    </div>
    <div class="container__img">
      <img
        src="/assets/img/img-about.jpeg"
        alt="Profile Picture"
      />
    </div>
  </div>

  <app-about id="about"></app-about>
  <app-myservices id="services"></app-myservices>
  <app-skills id="skills"></app-skills>
  <app-projects id="projects"></app-projects>
  <app-contactme id="contact"></app-contactme>
</div>
