<h1>My<span> services</span></h1>
<div class="container">
  <div class="card">
    <h2><i class='bx bx-code-block'></i></h2>
    <p>I'm a frontend designer specializing in CSS with a strong command of JavaScript.
      My focus is on creating engaging and functional web experiences.
      My passion for web design and development drives me to combine creativity with
      technical expertise to deliver visually stunning and highly interactive websites.
      I'm committed to staying updated with the latest trends and technologies, enabling
      me to provide innovative and high-quality solutions to my projects.</p>
  </div>
  <div class="card">
    <h2><i class='bx bxl-figma'></i></h2>
    <p>I'm a UI/UX designer with a keen eye for user-centered design.
      My expertise lies in creating intuitive and visually pleasing interfaces
      that enhance the user experience. I'm passionate about crafting designs
      that not only look great but also provide seamless navigation and functionality.
      Staying up-to-date with design trends and user research, I'm dedicated to delivering
      impactful and user-friendly designs that resonate with both clients and end-users.</p>
  </div>
  <div class="card">
    <h2><i class='bx bx-code-alt'></i></h2>
    <p>I'm a backend developer with a strong command of programming languages and server-side
      technologies. Keeping up with the latest developments in backend technologies, I'm dedicated
      to delivering efficient and reliable solutions that meet the needs of clients and end-users.</p>
  </div>
</div>
