<div class="container_projects">
  <h1>My <span>Projects</span></h1>
  <div class="container_projects_cards">
    <div class="card">
      <img src="/assets/media/AirBNB.png" alt="Airbnb">
      <div class="layer">
        <h5>Web Desing HTML/CSS</h5>

        <a href="https://candelariacabreraacuna.github.io/AirBNB-BEM/?"
          ><i class="bx bx-link-external" style="color: aliceblue"></i
        ></a>
      </div>
        <p>
          I invite you to explore exceptional accommodations on my Airbnb
          platform, where simplicity and elegance of design with HTML and CSS
          combine to offer you a unique and professional experience.
        </p>
    </div>
    <div class="card">
      <img src="/assets/media/CarolinaSPA.png" alt="SpaCarolina">
      <div class="layer">
        <h5>Web Desing HTML/CSS</h5>
        <a href="https://candelariacabreraacuna.github.io/Spa-Carolina/"
        ><i class="bx bx-link-external" style="color: aliceblue"></i
          ></a>
        </div>
        <p>
          Explore our soothing spa on our website crafted with HTML and CSS.
          Immerse yourself in a visually appealing oasis that seamlessly blends
          technology and wellness for a unique experience
        </p>
    </div>
    <div class="card">
      <img src="/assets/media/GuitarLA.png" alt="GuitarShop">
      <div class="layer">
        <h5>Web Desing HTML/CSS</h5>

        <a href="https://candelariacabreraacuna.github.io/GuitarShop/"
          ><i class="bx bx-link-external" style="color: aliceblue"></i
        ></a>
      </div>
      <p>
          This website is fully responsive and serves as an ecommerce platform
          for the guitar store named GuitarLA. With an appealing design and a
          comfortable interface, it has been created with the goal of providing
          a smooth and enjoyable shopping experience for users, making the
          exploration and selection of products efficient.
        </p>
    </div>
    <div class="card">
      <img src="/assets/media/RealState.png" alt="RealState">
      <div class="layer">
        <h5>Web Desing HTML/CSS</h5>

        <a href="https://candelariacabreraacuna.github.io/RealState/"
          ><i class="bx bx-link-external" style="color: aliceblue"></i
        ></a>
      </div>
      <p>
          The design of this real estate website employs a color scheme that
          enhances a user-friendly and straightforward experience. The website
          is responsive and includes CSS and HTML elements to ensure an
          appealing visual presentation and efficient navigation.
        </p>
    </div>
  </div>
  <button class="btn" routerLink="/projects-gallery">View More</button>
</div>
