<div class="radial-bar" [style.width.px]="size" [style.height.px]="size">
  <svg
    [attr.width]="size"
    [attr.height]="size"
    viewBox="0 0 36 36"
    xmlns="http://www.w3.org/2000/svg"
  >
    <!-- Círculo de fondo -->
    <circle
      class="circle-bg"
      [attr.r]="16"
      cx="18"
      cy="18"
      [attr.stroke-width]="strokeWidth"
    ></circle>

    <!-- Círculo de progreso -->
    <circle
      class="circle-progress"
      [attr.r]="16"
      cx="18"
      cy="18"
      [attr.stroke]="color"
      [attr.stroke-width]="strokeWidth"
      [attr.stroke-dasharray]="circumference"
      [attr.stroke-dashoffset]="offset"
    ></circle>

    <!-- Texto del porcentaje -->
    <text
      x="18"
      y="18"
      class="percentage-text"
      dominant-baseline="middle"
      text-anchor="middle"
    >
      {{ progress }}%
    </text>
  </svg>
  <div class="skill-text">{{ skill }}</div>
</div>
